In [72]:
#dependencies
import pandas as pd

In [116]:

# File to Load (Remember to Change These)
file_to_load = "/Users/kimkockenmeister/Desktop/hw4/PandasHW4/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
new_df=purchase_data
new_df=new_df.drop_duplicates(subset=["Gender","SN","Age"])
#purchase_data=purchase_data.drop_duplicates(subset=["Gender","SN","Age"])

In [98]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Find total players

In [127]:
total_players = len(purchase_data["SN"].value_counts())

#create data frame total players

total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

In [129]:
#unique items
unique_items_count = len((purchase_data["Item ID"]).unique())
#average purchase price
average_purchase_price = (purchase_data["Price"]).mean()
#number of purchases
totalnumber_of_purchases = (purchase_data["Purchase ID"]).count()
#total revenue
total_revenue = (purchase_data["Price"]).sum()

#create a dataframe
purchase_analysis_df= pd.DataFrame({"Number of Unique Items":[unique_items_count],
                           "Average Purchase Price":[average_purchase_price], 
                           "Total Number of Purchases": [totalnumber_of_purchases], 
                           "Total Revenue": [total_revenue]})

purchase_analysis_df.head()

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

# Gender Demographics

In [104]:
count=new_df["Gender"].value_counts()

In [105]:
#Count of Male Players, Female Players, Other / Non-Disclosed
percent=new_df["Gender"].value_counts()/total_players*100

In [106]:
#Percentage of Male Players, Female Players, Other / Non-Disclosed

pd.DataFrame({"Percentage of Players":percent,
                                 "Total Count":count})

                       Percentage of Players  Total Count
Male                               84.027778          484
Female                             14.062500           81
Other / Non-Disclosed               1.909722           11

# Purchasing Analysis (Gender)

In [80]:
# Count the total purchases by gender 
purchase_count = purchase_data["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = purchase_data["Price"].mean()

# Average purchase total by gender 
avg_purchase_total = purchase_data["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/count

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

# Age Demographics

In [134]:
#make bins 
bins= [0,10,15,20,25,30,35,40,999]
age_headers=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']


purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=age_headers)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

# Age Demographics

In [136]:

age_totals = purchase_data["Age Group"].value_counts()
age_percents = (age_totals / total_players * 100).round(2)
age_demographics = pd.DataFrame({"Percentage of Total": age_percents, "Age Group Total": age_totals})

age_demographics.sort_index()

       Percentage of Total  Age Group Total
<10                   5.56               32
10-14                 9.38               54
15-19                34.72              200
20-24                56.42              325
25-29                13.37               77
30-34                 9.03               52
35-39                 5.73               33
40+                   1.22                7

In [121]:
# Create new data frame with the added "Age Group" and group it
age_group = purchase_data.groupby("Age Group")

# Count purchases by age group
purchase_count_age = age_group["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_group["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_group["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/age_totals

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

# Top Spenders

In [130]:
# Group purchase data by screen names
top_spenders = purchase_data.groupby("SN")

# Count the total purchases by name
top_spenders_total_purchases = top_spenders["Purchase ID"].count()

# Calculate the average purchase by name 
top_spender_avg_purchase_price= top_spenders["Price"].mean()

# Calculate purchase total 
purchase_total = top_spenders["Price"].sum()

# Create data frame with obtained values
top_spenders_df = pd.DataFrame({"Purchase Count": top_spenders_total_purchases,
                             "Average Purchase Price": top_spender_avg_purchase_price,
                             "Total Purchase Value":purchase_total})

# Sort in descending order to obtain top 5 spender names 
format_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
format_df.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

# Most Popular Items

In [142]:
# Create new data frame for items
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item 
item_info = items.groupby(["Item ID","Item Name"])

# Count the number of purchased items 
item_purchase_count = item_info["Price"].count()

# Calcualte the purchase value 
item_purchase_value = (item_info["Price"].sum()) 

# Find individual item price
item_price = item_purchase_value/item_purchase_count

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
formatted_most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
formatted_most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# Most Profitable Items

In [141]:
# change the sorting to find highest total purchase value
formatted_most_popular_items = formatted_most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
formatted_most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# You must include a written description of three observable trends based on the data.

three observable trends based on the data:
1.) The item Final Critic was the most profitable item and popular item with a total purchase value of $59.99. The same top 5 for porfitable items were the same as top 5 popular items which shows the relationship between the two. 
2.)Lisosia93 was the top spender with 5	purchases at an average price fo $3.79	and total of $18.9. 
3.) There were more male players than women based on the gender demographics.